.vs/
*.vsidx
*.suo
*.user
.vscode/         
Debug/
Release/
x64/
x86/
enc_temp_folder/
enc_temp_folder/​**​/*
*.filters        
*.user          
*.aps           
*.ncb           
*.suo           
*.opensdf       
*.sdf           
*.log            
*.tlog           

*.obj
*.pch
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.dll
*.exe
*.map
*.res
*.ipch
*.iobj
*.ipdb

build/
out/
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

*.tmp
*.swp
*.~*
*~